<div class="container">
  <p>
    Olá seja bem vindo ao nosso sistema <strong>ResultNutri</strong>, nos iremos
    ajudar na sua jornada, aqui os Nutricionistas poderão contar com uma
    ferramenta para auxiliar a avaliar a evolução dos seus paciente
  </p>
  <p>
    Os pacientes informam os dados antropomorficos ou seja suas medidas e
    criamos um dashboard para avaliação! além das medidas, poderão ser enviadas
    imagens diversas como evolução corporea ou até mesmo exames laboratoriais,
    fotos das refeições para melhor acompanhamento dos Nutricionistas.
  </p>
  <p>
    O ResultNutri promoverá a integração Nutricionistas x Pacietnte de forma
    mais clara e Objetiva
  </p>

  <app-quem-somos></app-quem-somos>
  <hr />
  <app-contato></app-contato>
</div>
