<div class="contatoBody">
  <h2>Contato</h2>
  <h4>Willians</h4>
  <div class="buttonsGroup">
    <a
      class="btn btn-success"
      target="_blank"
      href="https://api.whatsapp.com/send/?phone=5513997161619&text=Ol%C3%A1&type=phone_number&app_absent=0"
    >
      <i class="bi bi-whatsapp"></i> Enviei um OI no meu Whatsapp</a
    >
    <a
      class="btn btn-success"
      href="https://www.instagram.com/wiliansaugusto/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <i class="bi bi-instagram"></i> Me siga no Instagram
    </a>
    <a
      href="https://linkedin.com/in/williansaugusto"
      target="_blank"
      class="btn btn-success"
      rel="noopener noreferrer"
    >
      <i class="bi bi-linkedin"></i> Conecte-se comigo no LinkedIn
    </a>
  </div>
  <h4>Pedro Henrique</h4>
  <p>insira aqui</p>
</div>
