<div
  style="
    min-width: 400px;
    min-height: 400px;
    background-color: var(--main-color);
    margin-bottom: 20px;
  "
>
  <div
    class="card"
    style="background-color: var(--secondary-text); padding: 20px; margin: 20px"
  >
    <div class="card-title">
      <h3 style="font-family: var(--orbitron)">resultnutri.com.br</h3>
    </div>
    <p
      class="card-body"
      style="color: var(--main-text); font-family: var(--fira-sans)"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum molestiae
      doloremque quam fuga corrupti sit tempore exercitationem ipsam, animi
      aliquid repudiandae consequatur veniam? Repudiandae dolor et veniam alias
      culpa ad.
    </p>
  </div>
</div>
<div class="row">
  <div
    class="col"
    style="
      min-height: 400px;
      min-width: auto;
      background-color: var(--second-color);
    "
  ></div>
  <div
    class="col"
    style="
      min-height: 400px;
      min-width: auto;
      background-color: var(--action-btn);
    "
  ></div>
  <div
    class="col"
    style="
      min-height: 400px;
      min-width: auto;
      background-color: var(--action2-btn);
    "
  ></div>
</div>

<router-outlet />
