<mat-drawer-container class="sidenav-container">
  <mat-drawer #drawer class="sidenav" mode="over" opened="true">
    <div class="title-drawer">
      <h3 class="title-ResultNutri">ResultNutri</h3>
      <button type="button" mat-button (click)="drawer.toggle()">
        <mat-icon
          class="iconMenu"
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="close"
        ></mat-icon>
      </button>
    </div>
    <div class="corpolinks">
      <img
        class="roboNutri"
        src="../assets/img/roboNutri.png"
        alt="Robonutri"
      />
      <ul>
        <li>
          <button
            class="btn-links"
            routerLink=""
            matButton="elevated"
            (click)="drawer.toggle()"
          >
            Home
          </button>
        </li>
        <li>
          <button
            class="btn-links"
            routerLink="contato"
            matButton="elevated"
            (click)="drawer.toggle()"
          >
            Contato
          </button>
        </li>
        <li>
          <button
            class="btn-links"
            routerLink="quem-somos"
            matButton="elevated"
            (click)="drawer.toggle()"
          >
            Quem Somos
          </button>
        </li>
        <li>
          <button
            class="btn-links"
            routerLink="login"
            matButton="elevated"
            (click)="drawer.toggle()"
          >
            Login
          </button>
        </li>
        <li>
          <button
            class="btn-links"
            routerLink="cadastrar"
            matButton="elevated"
            (click)="drawer.toggle()"
          >
            Cadastrar
          </button>
        </li>
      </ul>
    </div>
  </mat-drawer>

  <div class="sidenav-bar">
    <img
      class="logResultinutri"
      src="../assets/img/ResultNutriLogo.png"
      alt="Logo ResultNutri"
    />
    <button
      class="btn-open btn-close"
      type="button"
      mat-button
      (click)="drawer.toggle()"
    >
      <mat-icon
        class="iconMenu"
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="menu"
      ></mat-icon>
    </button>
  </div>
  <div class="corpo">
    <router-outlet />
  </div>
</mat-drawer-container>
<app-footer />
