.navbar {
  background-color: var(--second-color);
}

.corpo {
  margin-top: 15vh;
  padding: 20px;
}

.sidenav-bar {
  position: fixed;
  width: 100vw;
  height: 15vh;
  top: 0px;
  z-index: 1000;
  background-color: var(--main-color);
}

.iconMenu {
  color: var(--main-text);
  font-size: 180%;

}

.iconMenu:hover {
  color: red;
}

.btn-open {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  height: 90%;
  margin: 0;

}

.btn-open:hover {
  cursor: pointer;
}

.sidenav-container {
  height: 90%;
}

.logResultinutri {
  height: 80%;
  margin-top: 10px;
  margin-left: 45%;

}

.sidenav {
  height: max-content;
  width: 90%;
}

.title-drawer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  font-family: var(--orbitron);
  background-color: var(--main-color);
}

.title-ResultNutri {
  color: var(--main-text);
  text-align: center;
}

.roboNutri {
  width: auto;
  height: 50%;
  margin-right: 10px;
}

.corpolinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

ul {
  list-style: none;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li {
  margin: 15px 0;
  font-size: 150%;
  font-family: var(--orbitron);
  cursor: pointer;
}

.btn-links {
  background-color: var(--action-btn);
  color: var(--second-color);
  padding: 10px;
  border-radius: 15px;
}

@media screen and (max-width: 480px) {
  .logResultinutri {
    margin-top: 5px;
    margin-left: 30%;
  }

  .corpolinks {
    flex-direction: column;
    justify-content: start;
  }

  .roboNutri {
    width: 75%;
    height: auto;
  }

  ul {
    height: auto;
  }
}
