div {
  display: flex;
  flex-direction: column;
}

div h1 {
  text-align: center;
  font-family: var(--orbitron);
  margin-top: 20px;
  color: var(--main-color);
  font-size: 3rem;
}

div img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-top: 30px;
  margin-bottom: 30px;
}


@media screen and (max-width: 480px) {
  div img {
    width: 100%;
  }
}
