/* You can add global styles to this file, and also import other style files */
@import url('./assets/fonts/google-fonts.css');

html {
  min-height: 90vh;
}

body {
  margin: 0;
  font-family: var(--fira-sans);
}

:root {
  --main-color: #1E8A5D;
  --second-color: #2A6DB7;
  --action-btn: #FFD700;
  --action2-btn: #F4903D;
  --main-text: #F5F5F5;
  --secondary-text: #333333;
  --fira-sans: 'Fira Sans', sans-serif;
  --orbitron: 'Orbitron', sans-serif;

}

h2,
h3,
h4 {
  font-family: var(--orbitron);
  font-style: italic;
  width: 100%;
  background-color: var(--action2-btn);
  padding: 15px;
  color: var(--main-text) !important;

}
