<h2>Quem Somos?</h2>
<hr />
<div class="row">
  <div class="col-lg-4 col-sm-12">
    <img
      src="../../../assets/img/willians.png"
      alt="Willians Augusto Foto"
      class="img-thumbnail imgwillians"
    />
  </div>
  <div class="div col-lg-8 col-sm-12">
    <h3>Willians Augusto</h3>
    <p>Sou desenvolvedor de software, pós graduado em Java.</p>
    <p>
      Tenho experiência em desenvolvimento web com foco em soluções inovadoras
      para diversos setores.
    </p>
    <p>Criei esse projeto básicamente por 3 motivos</p>
    <ul>
      <li>
        Eu preciso enviar a avaliação para minha nutricionista, e porque não
        enviar uma avaliação bacana!
      </li>
      <li>
        Tenho um afilhado gente boa que deseja aprender programação, nada melhor
        que por a mão na massa
      </li>
      <li>Dinheiro!</li>
    </ul>
    <p>
      Espero que você goste do sistema e que ele te ajude a manter uma vida
      saudável.
    </p>
  </div>
</div>
<p>desenvolvimeto do pedro</p>
