.imgwillians {
  min-height: 300px;
  max-height: 500px;
  margin-left: 10%;
}

p {
  text-align: justify;
  font-family: var(--fira-sans);
  padding: 0 15px 0 15px;
}

li {
  margin-bottom: 10px;
  font-family: var(--fira-sans);
}

h3 {
  font-family: var(--orbitron);
}

@media screen and (max-width: 480px) {
  .imgwillians {
    max-width: 60%;
    height: auto;
    border-radius: 45%;
    margin-left: 20%;
    margin-bottom: 15px;
  }

}
